<p-panel header="Transform Settings">
  <div style="margin: 5px 0;">
    <p>Entity Name</p>
    <input
      placeholder="Example: Shopping Cart"
      style="width: 100%;"
      type="text"
      pInputText
      [(ngModel)]="entityName"
    />
  </div>
  <br />
  <div>
    <p>Target Language</p>
    <p-dropdown
      [style]="{ width: '100%' }"
      [options]="languageOptions"
      [(ngModel)]="language"
    ></p-dropdown>
  </div>
  <br />
  <div>
    <p>Dialect</p>
    <p-dropdown
      [style]="{ width: '100%' }"
      [options]="dialectOptions"
      [(ngModel)]="dialect"
    ></p-dropdown>
  </div>
  <br />
  <div>
    <p>Variables (CSV)</p>
    <textarea
      pInputTextarea
      placeholder=""
      style="width: 100%; resize: vertical; max-height: 500px; min-height: 200px;"
      autoResize="true"
      [(ngModel)]="script"
    ></textarea>
  </div>
  <br />
  <div class="centralize">
    <button label="Transform!" pButton></button>
  </div>
</p-panel>
