<p-panel header="Transform Settings">
  <div style="margin: 5px 0;">
    <p class="required">Entity Name</p>
    <input placeholder="Example: Shopping Cart" style="width: 100%;" type="text" pInputText [(ngModel)]="entityName" />
  </div>
  <br />
  <div>
    <p class="required">Templates</p>
    <button
      type="button"
      pButton
      ngxFilePicker
      accept="text/*"
      multiple
      label="Select Files"
      (filePick)="templateFilePick($event)"
      (readStart)="templateFileReadStart($event)"
    ></button>
    <span style="margin-left: 10px;">Templates: {{ templatesCount }}</span>
  </div>
  <br />
  <div>
    <p>Type Dictionary</p>
    <button type="button" pButton ngxFilePicker accept="*json" label="Select File" (filePick)="dictionaryFilePick($event)"></button>
    <span style="margin-left: 10px;">File: {{ typeDictionaryFileName }}</span>
  </div>
  <br />
  <div>
    <p style="padding-top: 6px; float: left;">Variables (CSV)</p>
    <button
      pButton
      style="float: right !important; width: 25px !important; height: 25px !important; margin: 5px;"
      (click)="buttonAddLine()"
    >
      <i class="pi pi-plus" style="margin-top: 3px;"></i>
    </button>
    <textarea
      pInputTextarea
      placeholder=""
      style="width: 100%; resize: vertical; max-height: 500px; min-height: 200px;"
      autoResize="true"
      [(ngModel)]="script"
    ></textarea>
  </div>
  <br />
  <div class="centralize">
    <button label="Transform!" (click)="transformButton()" pButton [disabled]="buttonTransformIsDisabled()"></button>
  </div>
</p-panel>

<p-dialog
  header="Add Line"
  [(visible)]="showAddLine"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [contentStyle]="{ overflow: 'visible' }"
  [dismissableMask]="true"
>
  <p>Variable Name</p>
  <div>
    <input pInputText style="width: 100%;" [(ngModel)]="variableName" />
  </div>
  <br />
  <p>Column Name</p>
  <div>
    <input pInputText style="width: 100%;" [(ngModel)]="columnName" />
  </div>
  <br />
  <p>SQL Data Type</p>
  <p-autoComplete
    [(ngModel)]="sqlTypeSelected"
    [suggestions]="sqlTypeFilteredOptions"
    (completeMethod)="searchSqlTypes($event)"
    [style]="{ width: '100%' }"
    [inputStyle]="{ width: '100%' }"
    styleClass="p-autocomplete"
    baseZIndex="10000"
  ></p-autoComplete>
  <br />
  <br />
  <p>Relationship</p>
  <p-dropdown [options]="possibleRelationships" [(ngModel)]="relationshipSelected" [style]="{ width: '100%' }"></p-dropdown>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="buttonAddLineConfirm()" label="Add"></button>
    <button type="button" pButton icon="pi pi-times" (click)="buttonAddLineCancel()" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
