$navLineHeight: 60px;

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

nav {
  background: #0082e6;
  height: $navLineHeight;
  width: 100%;
  margin-bottom: 5px;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: $navLineHeight;
  padding: 0 30px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: $navLineHeight;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  background: #1b9bff;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

nav ul li a:hover {
  color: white;
  background: #0c9bee;
  transition: 0.5s;
}

p {
  font-size: 1.1em;
  padding-bottom: 5px;
}

.centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centralize-horizontal {
  display: flex;
  justify-content: center;
}

.required::after {
  content: ' *';
  color: red;
}
